@use "sass/utilities/css-variables" as cv;
@use "sass/utilities/initial-variables" as iv;
@use "sass/utilities/mixins" as mx;

// Custom styles for docs
svg {
   height: auto;
   width: auto;
 }
 
 .is-absolute{
   position: absolute !important;
 }
 
 .is-wordbreaked{
   word-break: break-word;
   overflow-wrap: break-word;
 }
 
 .fa-sun {
   transform-origin: center;
   transform: rotate(22.5deg);
 }
 
 .bd-hidden-light {
   display: none !important;
 }
 
 .bd-stack {
   display: flex;
   flex-direction: column;
   gap: cv.getVar("block-spacing");
 }
 
 // Highlight
 .highlight.bd-is-hovering {
   box-shadow: 0 0 0 2px var(--theme-color);
   transition-duration: cv.getVar("duration");
   transition-property: box-shadow;
 }
 
 .highlight pre {
   margin-bottom: 0 !important;
 }
 
 .bd-highlight-full,
 #navbarJsExample {
   &:not(:last-child) {
     margin-bottom: 1.5rem;
   }
 
   .highlight pre {
     max-height: none;
   }
 }
 
 .bd-icon-size .icon {
   background-color: hsl(44deg, 100%, 77%);
 }
 
 .bd-color-swatch {
   background-color: var(--background);
   border-radius: 0.25em;
   box-shadow:
     0 0.125em 0.25em 0 rgba(0, 0, 0, 0.1),
     inset 0 0 0 1px rgba(0, 0, 0, 0.1);
   color: var(--color);
   gap: 0.375em;
   display: inline-flex;
   min-height: 1.5rem;
   min-width: 1.5rem;
   line-height: 1;
   font-size: 0.875em;
   padding: 0.5rem;
   font-family: var(--bulma-family-code);
   white-space: nowrap;
   vertical-align: top;
 
   + .bd-color-swatch {
     margin-left: 0.25em;
   }
 
   strong {
     color: inherit;
   }
 
   em {
     opacity: 0.5;
   }
 }
 
 .highlighter-rouge:not(:last-child) {
   margin-bottom: 1.5rem;
 }
 
 $container-offset: 2 * iv.$gap;
 $container-max-width: iv.$fullhd;
 
 :root {
   --container-width: calc(100vw - 3rem);
   --container-width-desktop: #{iv.$desktop - $container-offset};
   --container-width-widescreen: #{min(iv.$widescreen, $container-max-width) -
     $container-offset};
   --container-width-fullhd: #{min(iv.$fullhd, $container-max-width) -
     $container-offset};
 
   @include mx.desktop {
     --container-width: var(--container-width-desktop);
   }
 
   @include mx.widescreen {
     --container-width: var(--container-width-widescreen);
   }
 
   @include mx.fullhd {
     --container-width: var(--container-width-fullhd);
   }
 }
 
 .bd-fat-button {
   font-size: 1.25em;
   font-weight: cv.getVar("weight-semibold");
   height: auto;
   padding: 0.75em 1.25em;
 }
 
 #carbon-responsive {
   --carbon-bg-primary: #{cv.getVar("background")} !important;
   --carbon-text-color: #{cv.getVar("text-strong")} !important;
 
   .carbon-responsive-wrap {
     border: none !important;
     border-radius: cv.getVar("radius");
   }
 }
 
 .skeleton-toggler {
   position: fixed;
   right: 1rem;
   bottom: 1rem;
   z-index: 1;
 }
 
 .js-resizable {
   position: relative;
 }
 
 .js-resizable-handle {
   --size: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.1rem;
   width: var(--size);
   background: cv.getVar("border");
   box-shadow: cv.getVar("shadow");
   border-radius: 0.25em;
   position: absolute;
   left: calc(100% + calc(0.5 * var(--size)));
   z-index: 1;
   bottom: 0;
   top: 0;
   cursor: ew-resize;
 
   div {
     background: cv.getVar("text");
     height: calc(0.8 * var(--size));
     width: 2px;
   }
 
   &:hover {
     background: cv.getVar("link-soft");
 
     div {
       background: cv.getVar("link");
     }
   }
 
   &:active {
     background: cv.getVar("border-hover");
 
     div {
       background: cv.getVar("text-strong");
     }
   }
 }
 
 .bd-snippet-preview.bd-is-mwb {
   align-items: stretch;
   padding-top: 0;
 }
 
 .bd-snippet-mwb {
   border-radius: 0.375em;
   flex-grow: 1;
   height: 10.5rem;
   align-items: center;
   display: flex;
   justify-content: center;
 }
 
 .bd-snippet-code.bd-is-mwb {
   .highlight {
     border-top-left-radius: var(--hl-radius);
   }
 }
 
 .bd-footer {
   background-color: cv.getVar("scheme-main");
   // background: var(--bulma-background);
   color: cv.getVar("text-weak");
   position: relative;
   z-index: 1;
 
   strong {
     color: inherit;
   }
 }
 
 .button.is-twitter,
 .button.is-facebook {
   color: #fff;
   padding: 4px 12px 5px 16px;
   font-size: 0.875rem;
 }
 
 .#{iv.$class-prefix}message-body {
   .highlight {
     background-color: hsl(
       #{cv.getVar("message-h")},
       #{cv.getVar("message-s")},
       #{cv.getVar("message-header-color-l")}
     );
     color: hsl(
       #{cv.getVar("message-h")},
       #{cv.getVar("message-s")},
       #{cv.getVar("message-header-background-l")}
     );
   }
 }
 